@{
    var showClass = IsVisible ? "d-block" : "d-none";
}

<div class="toast-container p-3 @showClass" data-bs-autohide="true" data-bs-delay="5000">
    <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">@HeaderText</strong>
            <button type="button" class="btn-close" aria-label="Close" @onclick="Close"></button>
        </div>

        <div class="toast-body">
            @BodyText
            <br />
            <RadzenButton Click=@(async () => { MethodOnConfirm(); Close(); })
                          Disabled="false"
                          Text="Delete"
                          ButtonStyle="ButtonStyle.Danger" />
            
            <RadzenButton Click=@(() => Close())
                          Disabled="false"
                          Text="Cancel"
                          ButtonStyle="ButtonStyle.Warning" />
        </div>
    </div>
</div>

@code {
    [Parameter]
    public bool IsVisible { get; set; }

    [Parameter]
    public EventCallback<bool> IsVisibleChanged { get; set; }

    [Parameter]
    public string? HeaderText { get; set; }

    [Parameter]
    public string? BodyText { get; set; }

    [Parameter]
    public Action MethodOnConfirm { get; set; }

    public void Show(Action method, string bodyText, string headerText = "")
    {
        HeaderText = headerText;
        BodyText = bodyText;
        MethodOnConfirm = method;
        IsVisible = true;
        StateHasChanged();
    }

    private void Close()
    {
        HeaderText = string.Empty;
        BodyText = string.Empty;
        IsVisible = false;
        StateHasChanged();
    }
}